@model List<WebBanNoiThat.Models.CartItem>

    
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="amado_product_area section-padding-100">
    <div class="form-wrap container wrap-login wrapFormClass">
        <div class="row">
            @if (Model.Count > 0)
            {
                decimal total = 0;
                int stt = 1;
                <table class="table">
                    <tr>
                      <th>#</th>
                      <th>Sản phẩm</th>
                      <th>Giá</th>
                      <th>Số lượng</th>
                      <th>Thành tiền</th>
                      <th></th>
                    </tr>
    
                    @foreach (var cartitem in Model)
                    {
                        var thanhtien = cartitem.SoLuong * cartitem.SanPham.GiaSp;
                        total += thanhtien;

                        <tr>
                           <td>@(stt++)</td>
                           <td>@cartitem.SanPham.TenSp</td>
                           <td>@(cartitem.SanPham.GiaSp.ToString("n0"))</td>
                           <td><input asp-for="@cartitem.SoLuong" id="@cartitem.SanPham.MaSp" class="quantity"/></td>
                           <td>@(thanhtien.ToString("n0"))</td>
                           <td>
                              <button class="btn btn-success updatecartitem" data-productid="@cartitem.SanPham.MaSp"
                              onclick="updateCartItem(@cartitem.SanPham.MaSp)">Cập nhật</button>
                              <a asp-action="RemoveCartItem"
                                 asp-controller="SanPham" 
                                 asp-route-id="@cartitem.SanPham.MaSp"
                                 class="btn btn-danger">Xóa</a>
                           </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4" class="text-right">Tổng tiền</td>
                        <td>@(total.ToString("n0"))</td>
                        <td></td>
                    </tr>
                </table>

                <script>
                    function updateCartItem(id)
                    {
                        var quantity = $(".quantity#" + id).val();
                        $.ajax({
                          type: "POST",
                          url:"@Url.RouteUrl("updatecart")",
                          data: { id: id, soLuong: quantity }
                       }).done(function() {
                           window.location.reload();
                       });
                    }
                 </script>
                
            }
            else {
                <div class="form-wrap container wrap-login wrapFormClass">
                    <div class="table">
                        <div class="row">
                            <p class="alert alert-danger">Giỏ hàng trống</p>
                        </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>

